<div class="container">
    <br />
    <address>
        Run With You<br />
        Kfar Saba<br />
        <abbr title="Phone">P:</abbr>
        052 878 8818
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:fennechaim@gmail.com">fennechaim@gmail.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:fennechaim@gmail.com">fennechaim@gmail.com</a>
    </address>
</div>
